# Variables

In [50]:
name = "Harish"
Name = 'Harish'
age = 23
is_male = True
height = 5.8
complex_number = 3+8j

print("Name:",name)
print("Age:",age)
print("is male:",is_male)
print("Height:",height)
print("complex_number:",complex_number)
type(name)

Name: Harish
Age: 23
is male: True
Height: 5.8
complex_number: (3+8j)

str

# Type Casting

In [53]:
age = 23
name = "Harish"
height = 5.9

# print(type(age))
# print(type(name))
# print(type(height))

# after conversion

# str(), int(), float()

conv_age = str(age)
conv_height = int(height)
conv_age_to_float = float(age)

print(type(conv_age))
print(type(conv_height))
print(type(conv_age_to_float))
# print(type(str(height)))

# # values

print(age,name,height)
print(conv_age,conv_height,conv_age_to_float)

<class 'str'>
<class 'int'>
<class 'float'>
23 Harish 5.9
23 5 23.0

# input() function

In [60]:
name = input("Enter your name: ")
# type(name)
age = int(input("Enter your age: "))
# type(age)
print(name,"\'s age is ",age)

Enter your name: harish
Enter your age: 23
harish 's age is  23

In [ ]:
# single line cmt

'''
hi
all 
hw r u
multiline comments
'''

# Escape sequences

In [37]:
# \' , \\ , \n , \t

# new_line = "Hello gud mrng!\nIs there anyone in home."
# tab_space = "Hi all \t this is Harish!"
# back_slash = "use double backslash to get backslash in string \\"
# single_quote = 'There\'s home'
# double_quote = "Hello everyone! she said \" don\'t smoke \""

# print(new_line)
# print(tab_space)
# print(back_slash)
# print(single_quote)
# print(double_quote)

# Operators
1.Arithmetic operators

2.Relational Operators or comparision operators

3.Logical Operators

4.Assignment operators


# Arithmetic Operators

In [69]:
num1 = int(input('enter first number:\n'))
num2 = int(input('enter second number:\n'))
# addition = num1 + num2
# substraction = num1 - num2
# multiplication = num1 * num2
# division = num1 / num2
# floor_division = num1 // num2
# exponential = num1 ** 4     
remainder = num1 % num2

# print('Addition\n',addition)
# print('Substraction\n',substraction)
# print('Multiplication\n',multiplication)
# print('Division\n',division)
# print('floor division\n',floor_division)
# print('Exponential\n',exponential)
print('Modulus:\n',remainder)

enter first number:
4
enter second number:
3
Modulus:
 1

# Relational Operators

In [77]:
# a = 20
# b = 20
# print("a>b is",a>b)
# print("a<b is",a<b)
# print("a==b is",a==b)
# print("a!=b is",a!=b)
# print("a<=b is",a<=b)
# print("a>=b is",a>=b)

# Assignment Operators

In [88]:
a = "harish"
a += "1"
# name = "Harish"+" "+"Somsole"
# a -= 1
# a *= 1
# a /= 1
# a %= 1
# print(name)
print(a)

Harish Somsole
harish1

# Logical operators

In [99]:
# print(False and False)
# print(False or False)
# print(not False)

# Exercise

1. Find the area of circle 

Algorithm:

input radius

area = 3.14 * radius * radius

display area

# IF statement

In [ ]:
age = 23
if age >= 18:
    print("Eligible to vote")
print("Finish")

# IF-Else statement

In [ ]:
age = 20
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible")

# IF-ELSE-IF statement

In [ ]:
num = 2
if num == 1:
    print("Number equals to one")
elif num == 2:
    print("Number equals to two")
else:
    print("Number is none other than 1 and 2")

# Nested IF

In [ ]:
num = 3

if(num > 0):
    if(num > 30):
        print("num is greater than 30")
    else:
        print("num is not greater than 30")
else:
    print("num is not greater than 0")

# Exercise:

1.Python program to add two numbers

2.Maximum of two numbers in Python

3.Python Program for simple interest

4.Python Program for compound interest

5.Python Program to find area of a circle

6.Python program to check whether a number is Prime or not

7.Program to print ASCII Value of a character

8.Python Program for Sum of squares of first n natural numbers

9.Python Program for cube sum of first n natural numbers

# While statement

In [ ]:
i=5
while(i>0):
    print(i)
    i = i-1
else:
    print('Completed')

# For loop

In [ ]:
for i in 1,2,3,4,5:
    print(i)

In [ ]:
for i in range(0,100,10):
    print(i)
else:
    print("Completed")

# break statement

In [ ]:
i = 0
while(i<5):
    if i == 2:
        break
    print(i)
    i = i+1

# COntinue Statement

In [ ]:
i = 0
for i in range(5):
    if i == 2:
        continue
    print(i)

# Functions

In [ ]:
#positional arguments

def add(num1,num2):
    return num1+num2

print(add(3,2))

In [ ]:
# default arguments

def add(num1,num2=5):
    return num1 + num2

print(add(3))

In [ ]:
# keyword arguments

def add(num1,num2):
    return num1 + num2

print(add(num2=3,num1=4))

# variable Scope --- global and local variables

In [ ]:
# global variable -> outside the function

i = 1
def add():
    global i
    result = i + 2
    print(result)
    
add()

In [ ]:
#local variable   -> inside the function

def add():
    i = 1
    j = 2
    result = i +j
    print(result)
    
add()

# Variable number of arguments

In [ ]:
# takes multiple arguments in the form of tuple

def fun1(*arg):
    result = arg
    print(result)

fun1(1,2,5)

In [ ]:
# takes multiple keyword arguments in form of dictionary

def func1(**arg):
    result = arg
    print(result)

func1(name="Harish",couse="MCA")
func1(dept="Computer science",college="SVU",city="Tirupati")

# Collection Data types

1.Lists  ----> mutable , denoted by []

2.Tuples ----> immutable , denoted by (), faster than lists

3.Sets  -----> doen't allow duplicate values , denoted by {}

4.Dictionaries -----> key-value pairs, denoted as {key:value}

# Lists

In [ ]:
# lst creation

lst = [] # empty list
lst = [None]*5 # list of size 5 with no elements
lst = ["Harish",23,"male",5.8]

print(lst)

# List Functions

In [ ]:

lst = [0,1,2,4,5,6,7]

lst1 = lst.copy()
print(lst1)

# lst[2] = 8             # changing value at index 2
# print(lst[-1])         # prints last element in list

# l = len(lst)           # length of list
# print(l)

# lst.append(3)          # adds 3 at end of the list

# n = lst.index(5)       # gives value at 5th index

# print(n)

# print(lst)

In [ ]:
# Removing elements

lst = [0,1,2,4,5,6,7]

# lst.pop()              # removes last element
# lst.pop(3)             # removes element at 3rd index

# lst.remove(2)          # removes 2 from the list

In [ ]:
# sorting

lst = [0,1,2,4,5,6,7]

# lst.sort()             # ascending order
# lst.reverse()          # reverse order

In [ ]:
# slicing

lst = [0,1,2,4,5,6,7]

# new_list = lst[1:4]    # list slicing
# print(new_list)

In [ ]:
# concatenating 2 lists

lst1 = [0,1,2,3]
lst2 = [4,5,6]

# lst1 += lst2        # adds new lst2 to lst1
lst1 = lst1 + lst2  # creates a new list with name lst1

print(lst1)

In [ ]:
# searching in list

num = 4
lst = [0,1,2,3,4,5]
for el in lst:
    if el == num:
        print("Element found")
        break
else:
    print("Element not found")

# Tuple

In [ ]:
# declaring Tuple

tpl = ("Idly","Dosa","Vada")

# l = len(tpl)    #length of tuple
# print(l)

# tpl[2] = "Sambar" # results in error because tuples are immutable (not changable)

print(tpl)

# Packing and Unpacking

In [ ]:
names = "John","Mosh","Datt"  # packing
print(names)

name1,name2,name3 = names     #unpacking 
print(name1,name2,name3)

# Concatenating two tuples

In [ ]:
tpl1 = (1,2,3)
tpl2 = ('Raj','ram','rahim')

tpl = tpl1 + tpl2 # creates new tuple

print(tpl)

# Sets

In [ ]:
# st = {1,2,3,4,1,2,3,4}

lst = [1,2,3,4,1,2,3,4]
st = set(lst)

print(st)

# Union(|), Intersection(&), Difference(-) on sets

In [ ]:
st1 = {1,2,3,4}
st2 = {4,5,6}

# new_st = st1 & st2   # returns a newset of common elements in st1 and st2

# new_st = st1 - st2   # returns a newset which have only unique values in st1

new_st = st1 | st2     # returns all the elements in set1 & set2

print(new_st)

# Dictionaries

In [ ]:
# dictionary declaration

dic = {} #empty dictionary
dic = {
    "name" : "Harish",
    "age" : 23,
    "gender" : "Male",
    "height" : 5.8
}

print(dic)

# Updating dictionary

In [ ]:
dic = {
    "name" : "Harish",
    "age" : 23,
    "gender" : "Male",
    "height" : 5.8
}

dic1 = {"marks" : 80}
dic.update(dic1)

print(dic)

# Getting values using keys

In [ ]:
# name = dic.get("name")
name = dic["name"]